<a href="https://colab.research.google.com/github/Sreelekshmi688582/project/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# New Section

In [2]:
df = pd.read_csv("taylor_swift_lyrics.csv", encoding= 'latin=1')

In [3]:
df.head()

         artist         album  ... line  year
0  Taylor Swift  Taylor Swift  ...    1  2006
1  Taylor Swift  Taylor Swift  ...    2  2006
2  Taylor Swift  Taylor Swift  ...    3  2006
3  Taylor Swift  Taylor Swift  ...    4  2006
4  Taylor Swift  Taylor Swift  ...    5  2006

[5 rows x 7 columns]

In [4]:
df.head()

         artist         album  ... line  year
0  Taylor Swift  Taylor Swift  ...    1  2006
1  Taylor Swift  Taylor Swift  ...    2  2006
2  Taylor Swift  Taylor Swift  ...    3  2006
3  Taylor Swift  Taylor Swift  ...    4  2006
4  Taylor Swift  Taylor Swift  ...    5  2006

[5 rows x 7 columns]

In [5]:
songs = df.groupby('track_title').agg({'lyric': lambda x: " " .join(x),'year': 'mean'}).reset_index()

In [6]:
songs.head()

              track_title  ...  year
0        ...Ready for It?  ...  2017
1                      22  ...  2012
2  A Perfectly Good Heart  ...  2006
3   A Place In This World  ...  2006
4            All Too Well  ...  2012

[5 rows x 3 columns]

In [7]:
len(songs)

94

In [8]:
artist = df[df['artist'] == 'artist-name']

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
import nltk
from nltk.corpus import stopwords

In [38]:
stop_words = stopwords.words('english')

In [40]:
stop_words.extend(['back','said','come','things','get','oh','one','yeah','place','would','like','know','stay','go','let','cause'])

In [25]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
Vectorizer=TfidfVectorizer(stop_words = stop_words,min_df = 0.1)

In [29]:
tfidf = Vectorizer.fit_transform(songs['lyric'])

In [32]:
from sklearn.decomposition import NMF

In [33]:
nmf = NMF(n_components=6)

In [35]:
topic_values = nmf.fit_transform(tfidf)

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_nmf.py:294: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  FutureWarning,

In [41]:
for topic_num, topic in enumerate(nmf.components_):
     message = "Topic #{}: ".format(topic_num + 1)
     message += " ".join([Vectorizer.get_feature_names()[i] for i in topic.argsort()[:-10 :-1]])
     print(message)

Topic #1: back think said home gone come things say get
Topic #2: oh girl one knew never tell dress car yeah
Topic #3: know better want like run everything best see going
Topic #4: ever wanna never like remember would good dancing looking
Topic #5: stay beautiful think want little hey ever oh hope
Topic #6: love baby go bad got let time cause never

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [42]:
topic_labels = ['love','memories','breakups','party','homesick','independence']

In [62]:
topic_values :

SyntaxError: ignored

In [46]:
df_topics = pd.DataFrame(topic_values,columns=topic_labels)
df_topics

        love  memories  breakups     party  homesick  independence
0   0.000000  0.044943  0.197499  0.002461  0.000000      0.369877
1   0.000000  0.160907  0.319141  0.139770  0.000000      0.000000
2   0.000000  0.000000  0.000000  0.371630  0.000000      0.000000
3   0.000000  0.530360  0.137966  0.000000  0.000000      0.000000
4   0.092206  0.050426  0.102482  0.281790  0.000000      0.000000
..       ...       ...       ...       ...       ...           ...
89  0.055141  0.043570  0.112219  0.049842  0.000000      0.142257
90  0.069866  0.096608  0.040159  0.100248  0.000000      0.187000
91  0.120709  0.000000  0.000000  0.000000  0.000000      0.325916
92  0.068821  0.083674  0.373691  0.078985  0.013654      0.100536
93  0.000000  0.000000  0.065137  0.174056  0.000000      0.201081

[94 rows x 6 columns]

In [47]:
songs=songs.join(df_topics)

In [48]:
songs.head()

              track_title  ... independence
0        ...Ready for It?  ...     0.369877
1                      22  ...     0.000000
2  A Perfectly Good Heart  ...     0.000000
3   A Place In This World  ...     0.000000
4            All Too Well  ...     0.000000

[5 rows x 9 columns]

In [56]:
songs.loc[songs['love']>=0.1,'love']=1
songs.loc[songs['memories']>=0.1,'memories']=1
songs.loc[songs['breakups']>=0.1,'breakups']=1
songs.loc[songs['party']>=0.1,'party']=1
songs.loc[songs['homesick']>=0.1,'homesick']=1
songs.loc[songs['independence']>=0.1,'independence']=1

In [60]:
songs.loc[songs['love']<=0.1,'love']=0
songs.loc[songs['memories']<0.1,'memories']=0
songs.loc[songs['breakups']<0.1,'breakups']=0
songs.loc[songs['party']<0.1,'party']=0
songs.loc[songs['homesick']<0.1,'homesick']=0
songs.loc[songs['independence']<0.1,'independence']=0

In [61]:
songs.head()

              track_title  ... independence
0        ...Ready for It?  ...          1.0
1                      22  ...          1.0
2  A Perfectly Good Heart  ...          1.0
3   A Place In This World  ...          1.0
4            All Too Well  ...          1.0

[5 rows x 9 columns]

In [63]:
year_topics=songs.groupby('year').sum()

In [64]:
year_topics

      love  memories  breakups  party  homesick  independence
year
2006  14.0      14.0      14.0   14.0      14.0          14.0
2008  13.0      13.0      13.0   13.0      13.0          13.0
2010  17.0      17.0      17.0   17.0      17.0          17.0
2012  19.0      19.0      19.0   19.0      19.0          19.0
2014  16.0      16.0      16.0   16.0      16.0          16.0
2017  15.0      15.0      15.0   15.0      15.0          15.0

In [74]:
import matplotlib.pyplot as plt

In [75]:
plt.figure(figsize=(20,10))
plt.plot(year_topics['year'],year_topics['love'],label = 'love')
plt.plot(year_topics['year'],year_topics['memories'],label='memories')
plt.plot(year_topics['year'],year_topics['breakups'],label='breakups')
plt.plot(year_topics['year'],year_topics['party'],label='party')
plt.plot(year_topics['year'],year_topics['homesick'],label='homesick')
plt.plot(year_topics['year'],year_topics['independence'],label='independence')
plt.legend()

KeyError: ignored